<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="pos.css">
</head>
<body>

    <div id="invoice-POS">

        <center id="top">
          <div class="logo"></div>
          <div class="info">
            <h2>SBISTechs Inc</h2>
          </div>
          <!--End Info-->
        </center>
        <!--End InvoiceTop-->
      
        <div id="mid">
          <div class="info">
            <h2>Contact Info</h2>
            <p>
              Address : street city, state 0000</br>
              Email : JohnDoe@gmail.com</br>
              Phone : 555-555-5555</br>
            </p>
          </div>
        </div>
        <!--End Invoice Mid-->
      
        <div id="bot">
      
          <div id="table">
            <table>
              <tr class="tabletitle">
                <td class="item">
                  <h2>Item</h2>
                </td>
                <td class="Hours">
                  <h2>Qty</h2>
                </td>
                <td class="Rate">
                  <h2>Sub Total</h2>
                </td>
              </tr>
              
              {% for s in items %}
              <tr class="service">
                <td class="tableitem">
                  <p class="itemtext">{{s[0]}}</p>
                </td>
                <td class="tableitem">
                  <p class="itemtext">{{s[1]}}</p>
                </td>
                <td class="tableitem">
                  <p class="itemtext">{{currency}}{{(s[2]|float)|round_str}}</p>
                </td>
              </tr>
              {% endfor %}
     
              <tr class="tabletitle">
                <td></td>
                <td class="Rate">
                  <h2>Total</h2>
                </td>
                <td class="payment">
                  <h2>{{currency}}{{total}}</h2>
                </td>
              </tr>
      
            </table>
          </div>
          <!--End Table-->
      
          <div id="legalcopy">
            <p class="legal"><strong>Thank you for your business!</strong>  Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices.
            </p>
          </div>
      
        </div>
        <!--End InvoiceBot-->
      </div>
      <!--End Invoice-->

</body>

<!-- <script src="js/script.js"></script> -->
</html>
